@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
*{
  box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0px;
    font-family: 'Micro 5', sans-serif;
    color: #313233;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.audioPlayerWrapper {
    position: relative;
    padding: 20px 30px 20px 60px;
    width: 1200px;
    background: url('grad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    clip-path: polygon(30% 0%, 70% 0%, 100% 11%, 100% 70%, 94% 100%, 28% 100%, 3% 88%, 0 9%);
  }
  .uiPlayerWrapper{
    height: 100%;
    width: 100%;
    clear:both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  #trackInfo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
    font-size: 45px;
    line-height: 80%;
    z-index: 2;
  }
  
  .uiPlayerWrapper > div{
    width: 100%;
  }
  .polygon{
    z-index: 1;
    position: absolute;
    opacity: .5;
    background: url('grad.png');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    width: 20%;
    height: 150%;
  }
  .polygon:nth-child(1) {
    top: -20%;
    left: -10%;
  }
  .polygon:nth-child(2) {
    top: -40%;
    left: 15%;
  }
  .polygon:nth-child(3){
    top: -20%;
    left: 30%;
    width: 40%;
    height: 150%;
    transform: rotate(40deg);
  }
  .polygon:nth-child(4){
    top: -20%;
    left: 20%;
    width: 80%;
    height: 150%;
  }
  .polygon:nth-child(5){
    top: 0%;
    left: 40%;
    width: 50%;
    height: 150%;
  }
  .polygon:nth-child(6){
    top: -50%;
    left: 30%;
    width: 40%;
    height: 100%;
  }
  .polygon:nth-child(7){
    top: -20%;
    left: 50%;
    width: 30%;
    height: 150%;
    transform: rotate(20deg);
  }
  .polygon:nth-child(8){
    top: -20%;
    left: 85%;
    width: 20%;
    height: 150%;
    transform: rotate(30deg);
  }
  .audioControls {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    z-index: 2;
  }
  .audioTimeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 10px;
  }
  .audioTimelineBar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
  }
  .audioTimelineBarPercentage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    transition: all ease 250ms;
  }
  .audioTimelineCurrent, .audioTimelineTotal {
    font-size: 28px;
  }
  
  .audioTimelineCurrent {
    float: left;
    position: relative;
    z-index: 2;
  }
  .audioTimelineTotal {
    float: right;
    position: relative;
    z-index: 2;
  }

  @media (width < 1300px) {
    .audioPlayerWrapper {
      width: 100%;
      height: 100%;
      clip-path: none;
    }
    .uiPlayerWrapper{
    align-items: center;
    }
    #trackInfo{
    flex-direction: column;
    gap: 5px;
    }
  }

  @media (height < 100px) {
    .audioPlayerWrapper {
      width: 100%;
      height: 100%;
      clip-path: none;
      padding: 8px 20px 8px 20px;
      
    }
    .uiPlayerWrapper{
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 60px;
    }
    .uiPlayerWrapper > div{
      width: auto;
    }
    #trackInfo{
      width: 100%;
      flex-direction: row;
      padding-top: 3px;
      gap: 60px;
      line-height: 60%;
      flex: 1 1 auto
    }
    #trackInfo > div{
      white-space: nowrap;
    }
    #trackPlayhead{
      width: 200%;
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      align-items: flex-start;
      flex-direction: row;
      flex: 1 1 auto
    }
    .audioTimelineCurrent{
      order: 1
    }
    .audioControls{
      width: 100%;
      order: 2
    }
    .audioTimelineTotal{
      order: 3
    }
  }
