@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
*{
  box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 0px;
    font-family: 'Micro 5', sans-serif;
    color: #efefef;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.audioPlayerWrapper {
    position: relative;
    padding: 20px 50px 20px 50px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .8);
    /* background: url('grad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    overflow: hidden;
  }
  .uiPlayerWrapper{
    height: 100%;
    width: 100%;
    clear:both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  #trackInfo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
    font-size: 45px;
    line-height: 80%;
    z-index: 2;
  }
  #trackPlayhead{
    margin-top: 20px;
  }
  .uiPlayerWrapper > div{
    width: 100%;
  }
  .audioControls {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    z-index: 2;
    margin-bottom: 5px;
  }
  .audioTimeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 10px;
  }
  .audioTimelineBar {
    position: relative;
    width: 100%;
    height: 100%;
    border-right: 3px solid #efefef;
  }
  .audioTimelineBarPercentage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* background: #fff; */
    background: url('grad.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all ease 250ms;
  }
  .audioTimelineBarPercentage::after{
    content: '';
    position: absolute;
    right: -20px;
    top: -21px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    background-image: url('skelewalk.gif');
  }
  .audioTimelineCurrent, .audioTimelineTotal {
    font-size: 28px;
    cursor: pointer;
  }
  
  .audioTimelineCurrent {
    float: left;
    position: relative;
    z-index: 2;
  }
  .audioTimelineTotal {
    float: right;
    position: relative;
    z-index: 2;
  }

  @media (width < 1300px) {
    .audioPlayerWrapper {
      width: 100%;
      height: 100%;
      clip-path: none;
    }
    .uiPlayerWrapper{
    align-items: center;
    }
    #trackInfo{
    flex-direction: column;
    gap: 5px;
    }
  }

  @media (height < 100px) {
    .audioPlayerWrapper {
      width: 100%;
      height: 100%;
      clip-path: none;
      padding: 10px 20px 8px 20px;
      
    }
    .uiPlayerWrapper{
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 60px;
    }
    .uiPlayerWrapper > div{
      width: auto;
    }
    #trackInfo{
      width: 100%;
      flex-direction: row;
      padding-top: 3px;
      gap: 60px;
      line-height: 60%;
      flex: 1 1 auto
    }
    #trackInfo > div{
      white-space: nowrap;
    }
    #trackPlayhead{
      width: 200%;
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      align-items: flex-start;
      flex-direction: row;
      flex: 1 1 auto;
      margin-top: 0px;
    }
    .audioTimelineCurrent{
      order: 1
    }
    .audioControls{
      width: 100%;
      order: 2;
      margin-top: auto;
      margin-bottom: auto;
    }
    .audioTimelineTotal{
      order: 3
    }
  }
